/* Side navbar bar */

aside {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100vh;
} 

.Navigation {
    margin-top: 4cm;
    font-size: 18px;
}

.H-effect:hover {
    transition: 0.3s;
    filter: brightness(50%);
}

.Contact {
    margin-top: 2.8cm;
}

.Contact:hover {
    cursor: pointer;
    transition: 0.2s;
    color: #3e97ec;
    font-style: italic;
    background: #020082;
}

.Contact a {
   color: lightgrey;
   font-size: 18px;
   text-decoration: none;
   transition: 0.3s;  
}

     /* Top bar styling */

.Top-bar {
    margin: 0 auto;
    max-width: 768px;
}

.ham-menu {
    width: 35px;
    padding: 5px;
}
.ham-menu button {
    margin: 0 auto;
}

.Logo {
    max-width: 185px;	
}

/* Theme button styling */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
/* Checkbox checked */
input:checked + .slider {
    background-color: #101424;
 }
  
/* Checkbox checked:before */
input:checked + .slider:before {
    transform: translateX(26px);
}
  
/* Rounded sliders */

.slider.round {
    border-radius: 34px;
    border-color: #ccc;
}
  
.slider.round:before {
    border-radius: 50%;
    border-color: #ccc;
}

.bg-black {
    background-color: #000;
}
  
.bg-dark {
    background-color: #12182e;
}

.icon-container {
    padding-left: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

/* How it works */

#look {
    color: #8c4004;
    animation: rotateX 0.8s linear;
    animation-iteration-count: 1;
}

#L-page {
    text-decoration: underline;
    color: #0077b8;
}

#L-page:hover {
    text-decoration: wavy underline;
    color: #900604;
}

#copyB {
    background: #d1d5db;
    color: #1a202c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

#copyB:hover {
    background: #3b82f6;
}

/* Loader styling */

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: load 1s infinite;
}

.dotted-loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: var(--_g) 0%   50%, var(--_g) 50%  50%, var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: dotted-loader 1s infinite linear;
}

/* Tier info container */

.Tier-info {
    margin: 0 auto;
    padding: 17px;
    width: 100%;
    border: 4px inset #3e424b;
}

select {
    width: 100px;
    max-height: 40px;
    padding: 4px;
    border: 2px inset #3e97ec;
    border-radius: 5px;
    background-color: lightgray;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

select:hover {
    cursor: pointer;
    border: 2px inset #033d89;
}

.Tier-info h4 {
    font-size: 17px;
    color: #ed7014;
    margin-bottom: 28px;
}

.Tier-info a {
    color: #3e97ec;
}
.Tier-info a:hover {
    text-decoration: wavy underline;
    color: #a1045a;
}

ul {
    list-style-type: circle;
    color: #bebdb8;
}

.Tier-info span {
    background-color: lightgrey;
    border: 2px solid #ad7251;
    border-radius: 7px;
    float: right;
    padding: 4px;
    margin-bottom: 11px;
}
.Tier-info span:hover {
    cursor: pointer;
    border: 2px dot-dash #ae7f65
}

/* Payment options container */

.Payment-options {
    animation: slide 0.8s ease-in-out;
    animation-iteration-count: 1;
}

/* Floating icons */

#discord {
    color: #7289da;
    position: fixed;
    bottom: 80px;
    right: 14px;
    margin: 20px 10px;
    z-index: 2;
}

#discord:hover {
    color: #99aab5;
}

.r-code {
    width: 135px;
}

/* Dashboard page */

.Invitees-con {
    max-width: 768px;
}

.Invitees {
    width: 100%;
}

/* Rewards page */

#dis-button {
    width: 250px;
    height: 35px;
    margin-top: 35px;
    padding: 5px;
    font-size: 1rem;
    font-family: Sans-serif;
    color: #48494b;
    background: #808589; 
}
#dis-button:hover{
    background: #84effd;
    border: 2px wave #48494b;
}

hr {
    height: 8px;
    max-width: 768px;
    border-radius: 5px;
    background: lightgray;
}

.Tier-reward {
     display: inline-block;
     background: #a5a5ad;
     margin-left: 20px;
     margin-right: 20px;
     margin-bottom: 20px;
     animation: tilt-n-move-shaking 2s linear infinite;
}

.Reward-claim {
    margin: 0 auto;
    max-width: 768px;
}

#tier-buy-button {
    display: inline-block;
    margin-top: 44px;
    position: relative;
    bottom: 45px;
    animation: tilt-shaking 2s linear infinite;
}

/* Animations */

@keyframes load {
    to {
        transform: rotate(.5turn)
    }
}

@keyframes dotted-loader {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

@keyframes rotateX {
    100%{transform: rotateX(360deg)}
}

@keyframes slide {
    from {
        margin-left: 80%;
    } to {
        margin-left: 0%;
    }
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

/* Tablet portrait designs */

@media only screen and (max-width: 788px) {
    
    /* Home page */
     
    .Top-bar {
        z-index: 2;
        position: sticky;
        top: 0;
    }

}

/* Mobile view Portrait view */

@media only screen and (max-width: 435px) {   
     
    /* Nav bar */

    aside {
        width: 12.4rem;
    }

    .Contact {
        margin-top: 2cm
    }

     /* Home page */

    .Link-gen-con, .Stats {
        max-width: 380px;
        min-width: 300px;
    }
    .Tier {
        margin: 0 auto;
        width: 225px;
        height: 250px;
    }
    .Tier button {
        margin: 0 auto;
        width: 125px;
    }

    #copyB {
        margin-left: 2px;
    }

    #discord {
        right: 5px;
    }

    /* Rewards page */

    #tier-buy-button {
        margin-top: 35px;
        margin-bottom: 12px;
        bottom: 0;
    }

}